/* Reset CSS */
/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b39595;
    color: #333;
  }

  /* Style the heading */
h1 {
  text-align: center;
  margin-top: 50px;
}

/* Style the image */
img {
  float: right;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
  max-width: 100%;
  height: 100vh;
  object-fit: contain;
}

/* Style the sections */
h2 {
  margin-top: 30px;
}

/* Style the list items */
li {
  margin-bottom: 10px;
}

/* Style the contact information */
p:last-of-type {
  margin-bottom: 50px;
}

/* Style the links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Set a max-width for the page */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Adjust the sections for smaller screens */
@media (max-width: 768px) {
  img {
    width: 150px;
    height: 150px;
  }
  
  .container {
    padding: 0 10px;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    margin-top: 20px;
  }
  
  p:last-of-type {
    margin-bottom: 20px;
  }
}
  /* Navigation styles */
  nav {
    overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  align-items: center;
  }
  
  nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background: #ddd;
  color: black;
  }

  .nav {
    z-index: 9999;
    overflow: auto;
  }

  .nav a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  }

  .about-me {
    padding: 2rem;
    margin-top: 25px;
  }